@supports(object-fit: cover) {
    #imagen{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

#divImagenCarrusel {
    height: 350px;
}

#divImagesCards {
    height: 200px;
}

#Card {
    min-height: 12rem;
    text-align: justify;
    color: linear-gradient(top left, #fff, #f66);
}

#text {
    overflow: hidden;
    max-height: 12rem;
    background: linear-gradient(to top, #cdcdcd 15%, black 50%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title {
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
    font-size: xx-large;
}

.body {
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
}

#desabilitado {
    pointer-events: none;
    opacity: 0.4;
}


#divFoto {
    width: 6rem;
    height: 6rem;
    overflow: hidden;
    border-radius: 100%;
    align-self: center;
    margin-bottom: 10px;
}

#foto {
    max-width: 100%;
    text-align: center;
}

#divBoton {
    align-self: center;
}

#botonCargarFoto {
    background-color: white;
    color: black;
    width: 150px;
    align-self: center;
}

#divBotonCargarFoto {
    background-color: white;
    color: black;
    width: 150px;
    align-self: center;
}

#textoOpcional {
    margin-left: 5px;
    color: #f66;
    display: flex;
    align-items: center;
    text-align: center;
}

#spinnerReactstrap {
    width: 20px !important;
    height: 20px !important;

    border: 2px solid currentColor !important;
    border-right-color: transparent !important;
}