#body2 {
    margin-top: 100px;
}

@supports(object-fit: cover) {
    #imagen {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

#textarea {
    margin-top: 30px;
    margin-bottom: 30px;
}

#content_img {
    margin-top: 20px;
    height: 90px;
    width: 90px;
}

#divFoto {
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    margin-top: 15px;
    margin-right: 5px;
    border-radius: 100%;
}

#divFoto2 {
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    border-radius: 100%;
    cursor: pointer;
}

#divFoto3 {
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    border-radius: 100%;
}

#nombre {
    cursor: pointer;
    text-decoration: none;
}

#correo {
    color: rgb(59, 59, 59);
    font-size: medium;
}

#datosUsuarios {
    margin-top: 50px;
}

#carruselPublicaciones {
    height: 400px;
}

#fondo {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#fondo:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#botonPequeño{
    margin-left: 10px;
    margin-right: 10px;
}