header{
  position: absolute;
  width: 100%;
  top: 0;
}

.Header-icons {
    align-self: center;
}

.Header-div {
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;
    background-color: #202020;
    min-height: 12vh;
    font-size: calc(10px + 2vmin);
}

#body{
    margin-top: 150px;
}

.closeButton {
    text-align: right;
}

.Header-link {
    color: #ffffff;
    align-self: center;
    text-align: right;
}

.Header-logo {
    height: 7vmin;
    width: 7vim;
    align-self: center;
}

.Header-icon {
    height: 12vmin;
    align-self: center;
    margin-left: 3%;
}

.link {
    color: white;
    text-decoration: none;
}

.link :hover {
    color: #3b87ce;
    cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
    .Header-icon {
        animation: App-logo-spin infinite 30s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#userDiv {
    float: right;
    margin-right: 4%;
}

#userImage {
    width: 7vmin;
    height: 7vmin;
    overflow: hidden;
    border-radius: 100%;
    cursor: pointer;
    margin-left: 5%;
}

#userImage2 {
    width: 15vmin;
    height: 15vmin;
    overflow: hidden;
    border-radius: 100%;
    margin: 0px auto;
}

#ventanaFlotante {
    min-width: 350px;
    background-color: #202020;
    opacity: 0.96;
    border: 0;
    border-radius: 2%;
    padding: 40px;
}

#userName {
    padding-top: 20px;
    text-align: center;
    font-size: x-large;
}

#userMail {
    text-align: center;
    font-size: large;
    padding-bottom: 20px;
}

#icon{
    padding-right: 10px;
    padding-left: 10px;
}

#opcion {
    padding: 10px;
    color: white;
    font-size: 20px;
    border-radius: 1.5%;
    cursor: pointer;
}

#opcion:hover{
    background-color: #ffffff;
    color: #202020;
}

#opcionSalir {
    padding: 10px;
    color: white;
    font-size: 20px;
    border-radius: 1.5%;
    cursor: pointer;
}

#opcionSalir:hover{
    background-color: #ff4848;
    color: #ffffff;
}

#mensaje{ 
    font-size: x-large; 
}

#desabilitado {
    pointer-events: none;
    opacity: 0.4;
}

#botonDesabilitado{
    opacity: 0.4;
}

#desabilitadoVer {
    pointer-events: none;
}